*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffec99;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?cs=srgb&dl=pexels-simon-berger-1323550.jpg&fm=jpg); */
}
.wrapper{
    height: 100px;
    width: 360px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
    /* margin-left: 250px; */
}
.wrapper .display,
.wrapper span{
    position: absolute;
    /* opacity: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper .display{
    z-index: 999;
    background: #1b1b1b;
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
}
.wrapper .display #time{
    line-height: 85px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}
@keyframes zoomInOut{
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}
@keyframes bounceTop{
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes bounceTopfull{
    0%,100%{
        transform: translateY(-200px);
    }
    50%{
        transform: translateY(0px);
    }
}
.wrapper span{
    height: 0%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}
.wrapper span:first-child{
    filter: blur(10px);
}
.wrapper span:last-child{
    filter: blur(20px);
}

.bg-circles{
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100%-30px);
    left: 50%;
    transform: translateX(-50%);
}
.bg-circles div{
    position: absolute;
    border-radius: 50%;
}
.bg-circles .circle1{
    height: 60px;
    width: 60px;
    background-color: #23d5ab;
    left: 5%;
    top: 10%;
    opacity: 0.4;
    animation: bounceTop 5s ease-in-out infinite;
}
.bg-circles .circle2{
    height: 80px;
    width: 80px;
    background-color: #e02f6b;
    right: 170px;
    top: 50%;
    opacity: 0.4;
    animation: zoomInOut 5s ease-in-out infinite;
}
.bg-circles .circle3{
    height: 120px;
    width: 120px;
    background-color: #fff;
    top: 40%;
    left: 180px;
    opacity: 0.8;
    animation: zoomInOut 5s ease-in-out infinite;
}
.bg-circles .circle4{
    height: 50px;
    width: 50px;
    background-color: #ffa500;
    top: 80%;
    left: -30px;
    opacity: 0.6;
    animation: bounceTop 5s ease-in-out infinite;
}
.bg-circles .circle5{
    height: 50px;
    width: 50px;
    background-color: #99e9f2;
    top: 80%;
    left: 500px;
    opacity: 0.6;
    animation: bounceTopfull 5s ease-in-out infinite;
}
.bg-circles .circle6{
    height: 50px;
    width: 50px;
    background-color: #ff8787;
    top: 80%;
    left: -500px;
    opacity: 0.6;
    animation: bounceTopfull 5s ease-in-out infinite;
}
#button1{
    margin-bottom: 500px;
    margin-left: -65em;
    width: 215px;
    padding: 10px 0;
    cursor: pointer;
    position: absolute;
}
#button1{
    display: flex;
    font-family: "Baloo 2", cursive;
    /* background: #031321; */
}

a.btn{
    position: relative;
    display: flex;
    padding:10px 10px;
    color:  #f59f00;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid #fab005;
}
a.btn:hover{
    color: #255784;
    background: rgba(6, 241, 229, 0.8);
    box-shadow: 0 0 0px #0fd4ba, 0 0 0 0px #15cac1, 0 0 80px #13dada;
    transition-delay: 0.25s;
    border: none;
}
a.btn span{
    position: absolute;
    display: block;
}
